node_modules/
dist/
.DS_Store
*.log

# Android build outputs
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
android/captures/
android/app/release/
android/app/debug/

# Vite
.vite/
